<form action="/register" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="email" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">

    <label for="password"><b>Re Password</b></label>
    <input type="password" placeholder="Enter Re-password" name="rePassword">

    <div class="button-container">
        <input type="submit" value="Register" class="btn">
        <a href="/admin">Login</a>
    </div>
</form>
