<h2>About Us</h2>
<section class="members">
    <div class="member">
        <img src="images/luc.jpg" alt="Member 1" style="width: 100%;
        height: auto;
        border-bottom: 1px solid #eee;">
        <h3>Huỳnh Tấn Lực</h3>
    </div>

    <div class="member">
        <img src="images/ngan.jpg" alt="Member 2" style="width: 100%;
        height: auto;
        border-bottom: 1px solid #eee;">
        <h3>Trần Thị Kim Ngân</h3>
    </div>

    <div class="member">
        <img src="images/phuc.jpg" alt="Member 3" style="width: 100%;
        height: auto;
        border-bottom: 1px solid #eee;">
        <h3>Hồ Quang Phúc</h3>
    </div>
</section>
    