<div class="admin-title">
  <h2>Contact</h2>
</div>

<form action="/contact" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <div>
    <input type="submit" value="Send" class="btn" style="margin-top: 30px;">
  </div>

</form>