<h2><%= data.title %></h2>
<img src="/images/<%= data.imageURL %>" alt="Image" style="margin-left: auto; margin-right: auto; width: 60%; display: block; margin-bottom: 3%;">
<div>
    <article class="article"><%= data.body %></article>
</div>